{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
            <div class="introduction ">
                <h1 style="font-family: rubikmedium;">Hello, I'm Ankit.</h1>
                <p class="intro">
                    I am a full stack developer from India. 
                    I am passionate about building web applications and learning new technologies.
                    I like to try new things and learn from my mistakes. I also like have new challenges and solve them.
                    My preferred tools are Flask, Python, HTML, CSS, Javascript. I also like to Experience in Java, Machine Learning and Artificial Intelligence domains.
                </p>
                <p class="intro">I am on <a style="text-decoration:none" href="https://github.com/Ankit325">Github</a>, 
                    <a style="text-decoration:none" href="https://www.linkedin.com/in/ankit-singh-04a85a194/">LinkdeIn</a> 
                    and <a style="text-decoration:none" href="https://ankitsingh32500.medium.com">Medium</a></p>
            </div>
            <div class="skills">
                <h4>Programming Languages</h4>
                        <ul class="skill-list">
                            <li >Python</li>
                            <li>Java</li>
                            <li>C</li>
                            <li>C++</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>C#</li>
                            <li>MongDB</li>
                            <li>SQL</li>
                        </ul>
                       <hr>
                        <h4>Technical skills</h4>
                        <ul class="skill-list">
                            <li>Machine Learning</li>
                            <li>Android Application development</li>
                            <li>Flask</li>
                            <li>Git</li>
                            <li>Full Stack</li>
                        </ul>
                        <hr>
                        <h4>Soft skills</h4>
                        <ul class="skill-list">
                            <li>Good communication</li>
                            <li>Team player</li>
                            <li>Leadership</li>
                            <li>Project Management</li>
                            <li>Problem solving</li>
                            <li>Report Writing</li>
                        </ul>
                        <hr>
            </div>
{% endblock %}