{% extends "layout.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="../static/css/projects.css">
{% endblock %}
{% block title %}
    Projects
{% endblock %}

{% block main %}
    <main class="container">
        <div class="project">
            <h2>Hydraulic Arm</h2>
            <p>This project was a subjective project which was made by a group of 20 students in first year. I was leading the group to make that project which could lift a half-filled bottle. This was done by using syringes to create pressure which would enable the movement of arm and plywood to provide hardness stable stance for the arm.</p>
        </div>
        <hr style="margin-left: 0;">
        <div class="project">
            <h2>ATM simulator</h2>
            <p>We made a simple atm simulator using JAVA. The project was created by created by three people. This project was a graphic based project which used many libraries of JAVAX. I was the leader to manage this project and we successfully executed it. 
                The main function of this project was to take in card number and pin and do various functions such as checking balance, withdrawing cash, and adding cash, etc.</p>
        </div>
        <hr style="margin-left: 0;">
        <div class="project">
            <h2>Line Following Robot</h2>
            <p>We created this project for workshop. This was made in group of four people. Our project was even selected for tantravihar which was held in our college. We made a car type machine which would run on a following line. We kept it a simple sensor-based project where it moves according to the path it detects.</p>
        </div>
        <hr style="margin-left: 0;">
        <div class="project">
            <h2>Movie Ticket Booking System</h2>
            <p>This was a subjective project where we created a movie booking system using C language. It was just a simple Command Prompt based project with not much interface. It had two parts, first was admin login and user login. Admin was able to see who booked the ticket on which date and users were able to perform various tasks such as to book a ticket, cancel a ticket, etc.</p>
        </div>
        <hr style="margin-left: 0;">
        <div class="project">
            <h2>Library Management System</h2>
            <p>This was a group-based database management project using MySQL, where we created whole database on MySQL workbench and made it a simple web-based program. The group was of four people.</p>
        </div> 
        <hr>
        <div class="project">
            <h2>Text Based Emotion Classifier</h2>
            <p>It is a subjective project made for NLP where it classifies seven different emotions from the sentence as input.</p>
        </div> 
        <hr style="margin-left: 0;">  
        {% endblock %}